---
{{ ansible_managed | comment }}
id: default
groups: {}
comments: []
routes:
  - id: default
    name: default
    final: true
    disabled: false
    pipeline: slicendice
    description: ""
    clones: []
    enableOutputExpression: false
    outputExpression: null
    filter: "true"
    output: default
